!!!
html
  head
    title nameko-blog
    link(rel='stylesheet', href='/application.css')
    script(src='/application.js')
  body
    if everyauth.user
      a(href="logout") Sign out
    else
      a(href="login") Sign In
    != body
